@import "tailwindcss";
@plugin "daisyui";


body {
  background-color: cornflowerblue;
}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  color: white;
  margin-left: 5rem;
}